
@{
    Layout = null;
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Registration.js"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListByJoins</title>
</head>
<body>
    
    <section id="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="container-lg">
                        <table id="tblRegListWithCityState" class="table table-bordered table-responsive table-dark table-hover">
                            <thead class="table-responsive">
                                <tr class="table-responsive">
                                    <th class="table-secondary">FirstName</th>
                                    <th class="table-active">LastName</th>
                                    <th class="table-danger">Email</th>
                                    <th class="table-warning">Photo</th>
                                    <th class="table-info">CityName</th>
                                    <th class="table-primary">StateName</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>>
</body>
</html>
